<!DOCTYPE html>
<html>
<head>
  <title>API documentation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <%= stylesheet_link_tag('apipie.css') %>
  <!-- IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <div class="row">
      <div id='container'>
        <%= yield %>
        <%= render 'disqus' if Apipie.configuration.use_disqus? %>
      </div>
    </div>
    <hr>
    <footer><%= yield :apipie_footer %></footer>
  </div>

  <%= javascript_include_tag("apipie.js") %>
</body>
</html>
